/* https://gitlab.com/void-hikari/void-fm */

html {
  position: relative;
  min-height: 100%;
}
body {
  background: #f5f5f5;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  transition-property: background-image;
  transition-duration: 0.5s;
  font-family: Verdana,'Helvetica Neue','Microsoft Yahei','Hiragino Sans GB','Microsoft Sans Serif','WenQuanYi Micro Hei',sans-serif;
}
#player-wrapper {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: rgba(0,0,0,0.2);
  color: #f5f5f5;
  transition-property: background-color;
  transition-duration: 0.5s;
}
#player-wrapper:hover {
  background-color: rgba(0,0,0,0.35);
}
#player-wrapper .left {
  float: left;
  margin-left: 20px;
  margin-top: 20px;
  font-weight: bold;
  opacity: 0.85;
}
#player-wrapper .right {
  float: right;
  margin-right: 20px;
  margin-top: 20px;
  opacity: 0.85;
}
#player-wrapper .m-seek-bar {
  height: 4px;
  background-color: rgba(0,0,0,0.12);
  overflow: hidden;
  cursor: pointer;
}
#player-wrapper .m-play-bar {
  height: 4px;
  background-color: rgba(255,255,255,0.6);
  overflow: hidden;
  transition: 0.5s;
}
#player-wrapper .glyphicon {
  cursor: pointer;
}
#player-wrapper .fm-icon {
  margin-left: 20px;
}